<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.table.mapper.SmsBoxsendedMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.table.entity.SmsBoxsended">
    <result column="id" property="id" />
        <result column="appid" property="appid" />
        <result column="sender" property="sender" />
        <result column="receiver" property="receiver" />
        <result column="content" property="content" />
        <result column="moduleid" property="moduleid" />
        <result column="inserttime" property="inserttime" />
        <result column="createtime" property="createtime" />
        <result column="pri" property="pri" />
        <result column="sendtime" property="sendtime" />
        <result column="task_batchname" property="taskBatchname" />
        <result column="retrytimes" property="retrytimes" />
        <result column="addtion1" property="addtion1" />
        <result column="addtion2" property="addtion2" />
        <result column="addtion3" property="addtion3" />
        <result column="sendmode" property="sendmode" />
        <result column="sid" property="sid" />
        <result column="receipt" property="receipt" />
        <result column="receipttime" property="receipttime" />
        <result column="innerid" property="innerid" />
        <result column="fragcount" property="fragcount" />
        <result column="configid" property="configid" />
        <result column="linkid1" property="linkid1" />
        <result column="linkid2" property="linkid2" />
        <result column="validityperiod" property="validityperiod" />
        <result column="ifreceipt" property="ifreceipt" />
        <result column="outteruser" property="outteruser" />
        <result column="RowId" property="rowid" />
        <result column="result" property="result" />
        <result column="tablename" property="tablename"/>
    </resultMap>
    <!-- 接收短信查询映射结果 -->
    <resultMap id="SmsBoxreceivedMap" type="com.example.table.entity.SmsBoxreceived">
        <result column="id" property="id" />
        <result column="sender" property="sender" />
        <result column="receiver" property="receiver" />
        <result column="content" property="content" />
        <result column="inserttime" property="inserttime" />
        <result column="moduleid" property="moduleid" />
        <result column="readed" property="readed" />
        <result column="mark" property="mark" />
        <result column="readtime" property="readtime" />
        <result column="mobileowner" property="mobileowner" />
        <result column="cid" property="cid" />
        <result column="linkid1" property="linkid1" />
        <result column="linkid2" property="linkid2" />
        <result column="smstitle" property="smstitle" />
        <result column="tp_pid" property="tpPid" />
        <result column="tp_udhi" property="tpUdhi" />
        <result column="RowId" property="rowid" />
    </resultMap>
    <!-- 短信发送人员映射结果 -->
    <resultMap id="WrpManMap" type="com.example.table.entity.WrpMan">
        <id column="ID" property="id" />
        <result column="NM" property="nm" />
        <result column="TYPES" property="types" />
        <result column="MOBILE" property="mobile" />
        <result column="OPHONE" property="ophone" />
        <result column="UNIT" property="unit" />
        <result column="ZW" property="zw" />
        <result column="AD_CD" property="adCd" />
        <result column="AD_NM" property="adNm" />
        <result column="TS" property="ts" />
        <result column="WZPX" property="wzpx" />
        <result column="MEMO" property="memo" />
        <result column="GS" property="gs" />
    </resultMap>
    <!-- 值班通讯录查询映射结果 -->
    <resultMap id="DytyAddrListResultMap" type="com.example.table.entity.HhpdiDutyaddrlist">
        <id column="ID" property="id" />
        <result column="RowId" property="rowid" />
        <result column="YR" property="yr" />
        <result column="NM" property="nm" />
        <result column="UNIT" property="unit" />
        <result column="POSITION" property="position" />
        <result column="DUTYTYPE" property="dutytype" />
        <result column="TYPENAME" property="typename" />
        <result column="MOBILE" property="mobile" />
        <result column="OPHONE" property="ophone" />
        <result column="WZPX" property="wzpx" />
        <result column="Memo" property="Memo" />
    </resultMap>
    <!--短信预警统计-->
    <select id="selectSmsBoxsendedByCount" parameterType="com.example.table.entity.AlarmParam" resultType="java.lang.Integer">
        select count(*) as count from sms_boxsended
        where sendtime between #{begintime} and #{endtime}
        <if test="appid !=null &amp;&amp; appid !='' ">
        and appid like '%'+#{appid}+'%'
        </if>
    </select>
    <!--短信预警分页查询-->
    <select id="selectSmsBoxsendedByPage" parameterType="com.example.table.entity.AlarmParam" resultMap="BaseResultMap">
        select * from (select id,sendtime,appid,content,addtion1,'sms_boxsended' as tablename,ROW_NUMBER() OVER(Order by ${orderBy} ${sequence}) AS RowId from sms_boxsended
        where sendtime between #{begintime} and #{endtime}
        <if test="appid !=null &amp;&amp; appid !='' ">
            and appid like '%'+#{appid}+'%'
        </if>
        ) as b where RowId between #{begincount} and #{endcount}
    </select>
    <!--字段选取表查询-->
    <select id="selectFieldInfoByParam" resultType="java.lang.String">
        select Field from SYS_FieldInfo where FCode=#{fcode} and FNum=#{fnum} order by FieldRank
    </select>
    <!--接收短信统计-->
    <select id="selectSmsBoxreceivedByCount" parameterType="com.example.table.entity.AlarmParam" resultType="java.lang.Integer">
        select count(*) as count from sms_boxreceived
        where inserttime between #{begintime} and #{endtime}
        <if test="phone !=null &amp;&amp; phone !='' ">
        and sender like '%'+#{phone}+'%'
        </if>
    </select>
    <!--接收短信分页查询-->
    <select id="selectSmsBoxreceivedByPage" parameterType="com.example.table.entity.AlarmParam" resultMap="SmsBoxreceivedMap">
        select * from (select inserttime,sender,content,ROW_NUMBER() OVER(Order by ${orderBy} ${sequence}) AS RowId from sms_boxreceived
        where inserttime between #{begintime} and #{endtime}
        <if test="phone !=null &amp;&amp; phone !='' ">
        and sender like '%'+#{phone}+'%'
        </if>
        ) as b where RowId between #{begincount} and #{endcount}
    </select>
    <!--发送短信查询(全部)统计-->
    <select id="selectSmsBoxSendAllByCount"  parameterType="com.example.table.entity.AlarmParam" resultType="java.lang.Integer">
        select count(*) as count from
        (${subsql}) t
        where sendtime between #{begintime} and #{endtime}
        <if test="appid !=null &amp;&amp; appid !='' ">
            and appid like '%'+#{appid}+'%'
        </if>
    </select>
    <!--发送短信查询(全部)分页-->
    <select id="selectSmsBoxSendAllByPage" parameterType="com.example.table.entity.AlarmParam" resultMap="BaseResultMap">
        select * from(select t.*,ROW_NUMBER() OVER(Order by ${orderBy} ${sequence}) AS RowId from
        (${subsql}) t
        where sendtime between #{begintime} and #{endtime}
        <if test="appid !=null &amp;&amp; appid !='' ">
            and appid like '%'+#{appid}+'%'
        </if>
        )b where b.RowId between #{begincount} and #{endcount}
    </select>
    <!--发送短信查询(指定表)统计-->
    <select id="selectSmsBoxSendTableByCount"  parameterType="com.example.table.entity.AlarmParam" resultType="java.lang.Integer">
        select count(*) as count from ${table}
        where sendtime between #{begintime} and #{endtime}
        <if test="appid !=null &amp;&amp; appid !='' ">
            and appid like '%'+#{appid}+'%'
        </if>
    </select>
    <!--发送短信查询(指定表)分页-->
    <select id="selectSmsBoxSendTableByPage" parameterType="com.example.table.entity.AlarmParam" resultMap="BaseResultMap">
        select * from
        (select id,appid,#{result} as result,#{table} as tablename,receiver,sendtime,content,addtion1,addtion2,addtion3,ROW_NUMBER() OVER(Order by ${orderBy} ${sequence}) AS RowId from
        ${table}
        where sendtime between #{begintime} and #{endtime}
        <if test="appid !=null &amp;&amp; appid !='' ">
            and appid like '%'+#{appid}+'%'
        </if>
        )b where b.RowId between #{begincount} and #{endcount}
    </select>
    <!--发送短信详情-->
    <select id="selectSmsBoxSendByDetail" resultMap="BaseResultMap">
        select appid,receiver,addtion1,addtion2,addtion3,sendtime,pri,content from ${table} where id=#{id}
    </select>
    <!--值班安排查询-->
    <select id="selectDutyPlanByDate" resultType="java.util.Map">
        ${sql}
    </select>
    <!--值班安排详细信息-->
    <select id="selectDutyPlanDetail" resultType="java.util.Map">
        select TYPE,(select fieldname from WRP_FieldInfo where formID='HHPDI_Duty_Plan' and fieldID='TYPE' and field=type) as TYPENAME,NAME,PHONE
        from HHPDI_Duty_Plan where OlanDate=#{date} order by type
    </select>
    <!--短信发送人员信息查询-->
    <select id="selectWrpManByTypes" resultMap="WrpManMap" parameterType="com.example.table.entity.WrpMan">
        select NM,MOBILE,UNIT,ZW, (select AD_NM from WRP_AD_B m where AD_CD=w.AD_CD) as AD_NM
        from WRP_MAN W where 1=1
        <if test="types !=null ">
        and TYPES=#{types}
        </if>
        <if test="nm !=null &amp;&amp; nm !='' ">
        and NM like '%'+#{nm}+'%'
        </if>
        <if test="adCd !=null &amp;&amp; adCd !='' ">
        and AD_CD like #{adCd}+'%'
        </if>
        order by wzpx
    </select>
    <!--新增短信-->
    <insert id="insertSmsBoxsending" parameterType="com.example.table.entity.AlarmParam">
    insert into ${tablename}(appid,sender,receiver,content,sendtime,inserttime,addtion1,addtion2,addtion3)
    values(#{appid},#{sender},#{receiver},#{content},convert(varchar(100),GETDATE(),120),convert(varchar(100),GETDATE(),120),#{addtion1},#{addtion2},#{addtion3})
    </insert>
    <!--值班通讯录总记录数-->
    <select id="selectDutyAddrListCount" parameterType="com.example.table.entity.AlarmParam" resultType="java.lang.Integer">
        select count(*) from HHPDI_DutyAddrList
        where 1=1
        <if test="year&gt;0">
            and YR=#{year}
        </if>
        <if test="sign&gt;0">
            and DUTYTYPE=#{sign}
        </if>
        <if test="addtion1 !=null &amp;&amp; addtion1 !=''">
            and (NM like '%'+#{addtion1}+'%' or unit like '%'+#{addtion1}+'%' or position like '%'+#{addtion1}+'%' or mobile like '%'+#{addtion1}+'%' or ophone like '%'+#{addtion1}+'%')
        </if>
    </select>
    <!--值班通讯录分页查询-->
    <select id="selectDutyAddrListByPage" parameterType="com.example.table.entity.AlarmParam" resultMap="DytyAddrListResultMap">
        select * from
        (select ID,YR,NM,UNIT,POSITION,OPHONE,MOBILE,DUTYTYPE,(select fieldname from WRP_FieldInfo where formID='HHPDI_Duty_Plan' and fieldID='TYPE' and field=DUTYTYPE) as TYPENAME,WZPX,ROW_NUMBER() OVER(Order by ${orderBy} ${sequence}) AS RowId from HHPDI_DutyAddrList
        where 1=1
        <if test="year&gt;0">
           and YR=#{year}
        </if>

        <if test="sign&gt;0">
            and DUTYTYPE=#{sign}
        </if>
        <if test="addtion1 !=null &amp;&amp; addtion1 !=''">
            and (NM like '%'+#{addtion1}+'%' or unit like '%'+#{addtion1}+'%' or position like '%'+#{addtion1}+'%' or mobile like '%'+#{addtion1}+'%' or ophone like '%'+#{addtion1}+'%')
        </if>
        ) b where b.RowId between #{begincount} and #{endcount}
    </select>
    <!--获取值班通讯录年份-->
    <select id="selectDutyAddrListYear" resultType="java.util.Map">
        select distinct YR as value,convert(varchar(4),YR)+'年' as label from HHPDI_DutyAddrList order by YR desc
    </select>
    <!--新增通讯录-->
    <insert id="insertDutyAddrlist" parameterType="com.example.table.entity.AddrlistParam">
        insert into HHPDI_DutyAddrList(YR,NM,UNIT,POSITION,DUTYTYPE,MOBILE,OPHONE,WZPX)values(#{yr},#{nm},#{unit},#{position},#{dutytype},#{mobile},#{ophone},#{wzpx})
    </insert>
    <!--修改通讯录-->
    <update id="updateDutyAddrlist" parameterType="com.example.table.entity.AddrlistParam">
        update HHPDI_DutyAddrList set YR=#{yr},NM=#{nm},UNIT=#{unit},POSITION=#{position},DUTYTYPE=#{dutytype},MOBILE=#{mobile},OPHONE=#{ophone},WZPX=#{wzpx} where ID=#{id}
    </update>
    <!--删除通讯录-->
    <delete id="deleteDutyAddrlist" parameterType="com.example.table.entity.AddrlistParam">
        delete from HHPDI_DutyAddrList where ID=#{id}
    </delete>
    <!--通讯录详情-->
    <select id="selectDutyAddrlistDetail" parameterType="com.example.table.entity.AddrlistParam" resultMap="DytyAddrListResultMap">
        select * from HHPDI_DutyAddrList where ID=#{id}
    </select>
    <!--通过年份导入通讯录-->
    <insert id="insertDutyAddrlistByYear" parameterType="com.example.table.entity.AddrlistParam">
        insert into HHPDI_DutyAddrList(YR,NM,UNIT,POSITION,DUTYTYPE,MOBILE,OPHONE,WZPX)
        select ${toyr},NM,UNIT,POSITION,DUTYTYPE,MOBILE,OPHONE,WZPX from HHPDI_DutyAddrList where YR=#{yr}
    </insert>
    <!--判断此年份的通讯录是否存在-->
    <select id="existDutyAddrlistByyear" parameterType="com.example.table.entity.AddrlistParam" resultType="java.lang.Integer">
        select count(1) from HHPDI_DutyAddrList where YR=#{yr}
    </select>
    <!--根据年份删除通讯录-->
    <delete id="deleteDutyAddrlistByyear" parameterType="com.example.table.entity.AddrlistParam">
        delete from HHPDI_DutyAddrList where YR=#{yr}
    </delete>
    <!--新增值班安排信息-->
    <insert id="insertDutyplan" parameterType="java.util.List">
        insert into HHPDI_Duty_Plan(Name,Phone,OlanDate,Type)
        values
        <foreach collection="list" item="item" index= "index" separator =",">
        (#{item.name},#{item.phone},#{item.olandate},#{item.type})
        </foreach>
    </insert>
    <!--删除值班安排信息-->
    <delete id="deleteDutyplan">
        delete from HHPDI_Duty_Plan where OlanDate between #{begintime} and #{endtime}
    </delete>
    <!--查询值班安排信息-->
    <select id="selectDutyplanByDate" parameterType="com.example.table.entity.AlarmParam" resultType="java.util.Map">
        select NAME,PHONE,OLANDATE,TYPE from HHPDI_Duty_Plan where OlanDate between #{begintime} and #{endtime}
    </select>
    <!--根据人员类型查询值班通讯录-->
    <select id="selectDutyAddrlistByType" resultMap="DytyAddrListResultMap">
        select NM,MOBILE,UNIT,POSITION from HHPDI_DutyAddrList where YR=(select max(yr) from HHPDI_DutyAddrList) and dutytype=#{type}
        <if test="addtion1 !=null &amp;&amp; addtion1 !=''">
            and (NM like '%'+#{addtion1}+'%' or unit like '%'+#{addtion1}+'%' or position like '%'+#{addtion1}+'%' or mobile like '%'+#{addtion1}+'%' or ophone like '%'+#{addtion1}+'%')
        </if>
    </select>
</mapper>
