<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.table.mapper.WaterPriceStandardMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.table.pojo.WaterPriceStandard">
        <id column="ID" property="id" />
        <result column="PRICEYR" property="priceyr" />
        <result column="BASEWATER" property="basewater" />
        <result column="BASEPRICE" property="baseprice" />
        <result column="ONEUPLIM" property="oneuplim" />
        <result column="ONELOLIM" property="onelolim" />
        <result column="ONEPRICE" property="oneprice" />
        <result column="TWOUPLIM" property="twouplim" />
        <result column="TWOLOLIM" property="twololim" />
        <result column="TOWPRICE" property="towprice" />
        <result column="THRUPLIM" property="thruplim" />
        <result column="THRLOLIM" property="thrlolim" />
        <result column="THRPRICE" property="thrprice" />
        <result column="SAVEONEUP" property="saveoneup" />
        <result column="SAVEONELO" property="saveonelo" />
        <result column="SAVEONEPR" property="saveonepr" />
        <result column="SAVETWOUP" property="savetwoup" />
        <result column="SAVETWOLO" property="savetwolo" />
        <result column="SAVETWOPR" property="savetwopr" />
        <result column="SAVETHRUP" property="savethrup" />
        <result column="SAVETHRLO" property="savethrlo" />
        <result column="SAVETHRPR" property="savethrpr" />
        <result column="CANALRATE" property="canalrate" />
    </resultMap>
    <select id="selectWaterPriceStandardNow" resultMap="BaseResultMap">
        select * from WATER_PRICE_STANDARD where PRICEYR=(select MAX(PRICEYR) from WATER_PRICE_STANDARD where PRICEYR&lt;=DATEPART(year,GETDATE()))
    </select>
</mapper>
