<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.table.mapper.WaterRechargeMapper">

    <!-- 充值信息通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.table.pojo.WaterRecharge">
        <id column="ID" property="id" />
        <result column="FARMCODE" property="farmcode" />
        <result column="AMOUNT" property="amount" />
        <result column="CREATETIME" property="createtime" />
        <result column="BUYWATER" property="buywater" />
        <result column="BASEWATER" property="basewater" />
        <result column="BUYFIRST" property="buyfirst" />
        <result column="BUYSECOND" property="buysecond" />
        <result column="BUYTHIRD" property="buythird" />
        <result column="LASTSURPLUS" property="lastsurplus" />
        <result column="REMAINWATER" property="remainwater" />
    </resultMap>
    <!--农户用户执行水价标准映射结果-->
    <resultMap id="FarmStandardMap" type="com.example.table.pojo.FarmStandardShow">
        <result column="FARMNAME" property="farmname" />
        <result column="CANALCODE" property="canalcode" />
        <result column="AREA" property="area" />
        <result column="BASEWATER" property="basewater" />
        <result column="BASEPRICE" property="baseprice" />
        <result column="ONEPRICE" property="oneprice" />
        <result column="TOWPRICE" property="towprice" />
        <result column="THRPRICE" property="thrprice" />
        <result column="ONEUPLIM" property="oneuplim" />
        <result column="TWOUPLIM" property="twouplim" />
    </resultMap>
    <!--充值信息查询映射结果-->
    <resultMap id="RechargeShowMap" type="com.example.table.pojo.RechargeShow">
        <result column="FARMNAME" property="farmname" />
        <result column="AMOUNT" property="amount" />
        <result column="CREATETIME" property="createtime" />
        <result column="BUYWATER" property="buywater" />
        <result column="BASEWATER" property="basewater" />
        <result column="BUYFIRST" property="buyfirst" />
        <result column="BUYSECOND" property="buysecond" />
        <result column="BUYTHIRD" property="buythird" />
        <result column="LASTSURPLUS" property="lastsurplus" />
        <result column="REMAINWATER" property="remainwater" />
        <result column="CANALNAME" property="canalname" />
        <result column="AREA" property="area" />
        <result column="RowId" property="index" />
    </resultMap>
    <!--收费通知查询映射结果-->
    <resultMap id="MeterShowMap" type="com.example.table.pojo.MeterShow">
        <result column="FARMNAME" property="farmname" />
        <result column="CANALNAME" property="canalname" />
        <result column="AREA" property="area" />
        <result column="RowId" property="index" />
        <result column="CONTACTS" property="contacts" />
        <result column="CONPHONE" property="conphone" />
        <result column="WATERNUM" property="waternum" />
        <result column="READTIME" property="readtime" />
        <result column="WATERYIELD" property="wateryield" />
        <result column="YIELDFIRST" property="yieldfirst" />
        <result column="YIELDSECOND" property="yieldsecond" />
        <result column="YIELDTHIRD" property="yieldthird" />
        <result column="WATERRATE" property="waterrate" />
        <result column="AVAILABLE" property="available" />
        <result column="SURPLUS" property="surplus" />
        <result column="PAYTIME" property="paytime" />
    </resultMap>
    <!--获取农户用户执行水价标准信息-->
    <select id="selectFarmStandardInfo" parameterType="com.example.table.pojo.WaterParam" resultMap="FarmStandardMap">
        select FARMNAME,(select CANALNAME from WATER_SITE_B s where s.CANALCODE=b.CANALCODE) as CANALNAME,AREA,CONVERT(INT,AREA*BASEWATER) AS BASEWATER,CONVERT(INT,AREA*SAVEONEUP) AS ONEUPLIM,CONVERT(INT,AREA*SAVETWOUP) AS TWOUPLIM,t.BASEPRICE,t.ONEPRICE,t.TOWPRICE,t.THRPRICE from
        (select FARMCODE,FARMNAME,CANALCODE,AREA from WATER_FARM_USERS where SYSSIGN=#{showsign} and FARMCODE=#{stcd}) b  cross join (select * from WATER_PRICE_STANDARD where PRICEYR=(select MAX(PRICEYR) from WATER_PRICE_STANDARD where PRICEYR &lt;=#{year})) t
    </select>
    <!--获取农户用户充值之前统计信息-->
    <select id="selectFarmBuyWaterTatalInfo" parameterType="com.example.table.pojo.WaterParam" resultMap="BaseResultMap">
        select sum(BUYWATER) as BUYWATER,sum(BASEWATER) as BASEWATER,sum(BUYFIRST) as BUYFIRST,sum(BUYSECOND) as BUYSECOND,sum(BUYTHIRD) as BUYTHIRD from WATER_RECHARGE where FARMCODE=#{stcd} and DATEPART(year,CREATETIME)=#{year}
    </select>
    <!--分页查询充值记录-->
    <select id="selectRechargShowInfoByPage" parameterType="com.example.table.pojo.WaterParam" resultMap="RechargeShowMap">
        select * from (select f.FARMNAME,f.AREA,b.CANALNAME,r.*,ROW_NUMBER() OVER(Order by ${orderBy} ${sequence}) AS RowId from
        (select * from WATER_RECHARGE where SYSSIGN=#{showsign}) r inner join (select FARMCODE,FARMNAME,CANALCODE,AREA from WATER_FARM_USERS where SYSSIGN=#{showsign}) f
        on r.FARMCODE=f.FARMCODE inner join (select CANALCODE,CANALNAME,PX from WATER_SITE_B where SYSSIGN=#{showsign}) b on f.CANALCODE=b.CANALCODE
        <where>
            <if test="stnm!= null and stnm!= ''">
                and f.FARMNAME like '%'+#{stnm}+'%'
            </if>
            <if test="canalcode!= null and canalcode!= ''">
                and b.CANALCODE=#{canalcode}
            </if>
            <if test="begintime!= null and begintime!= ''and endtime!= null and endtime!= ''">
                and  CREATETIME between #{begintime} and  #{endtime}
            </if>
        </where>
        ) as x where RowId between #{begincount} and #{endcount}
    </select>
    <!--充值记录总记录数-->
    <select id="selectRechargShowInfoByCount" parameterType="com.example.table.pojo.WaterParam" resultType="java.lang.Integer">
        select count(*) from
        (select * from WATER_RECHARGE where SYSSIGN=#{showsign}) r inner join (select FARMCODE,FARMNAME,CANALCODE,AREA from WATER_FARM_USERS where SYSSIGN=#{showsign}) f
        on r.FARMCODE=f.FARMCODE inner join (select * from WATER_SITE_B where SYSSIGN=#{showsign}) b on f.CANALCODE=b.CANALCODE
        <where>
            <if test="stnm!= null and stnm!= ''">
                and f.FARMNAME like '%'+#{stnm}+'%'
            </if>
            <if test="canalcode!= null and canalcode!= ''">
                and b.CANALCODE=#{canalcode}
            </if>
            <if test="begintime!= null and begintime!= '' and endtime!= null and endtime!= ''">
                and  CREATETIME between #{begintime} and  #{endtime}
            </if>
        </where>
    </select>
    <!--分页查询收费通知-->
    <select id="selectMeterShowInfoByPage" parameterType="com.example.table.pojo.WaterParam" resultMap="MeterShowMap">
        select * from (select f.FARMNAME,f.AREA,f.CONTACTS,f.CONPHONE,b.CANALNAME,r.*,ROW_NUMBER() OVER(Order by ${orderBy} ${sequence}) AS RowId from
        (select * from WATER_METER where SYSSIGN=#{showsign}) r inner join (select FARMCODE,FARMNAME,CANALCODE,AREA,CONTACTS,CONPHONE from WATER_FARM_USERS where SYSSIGN=#{showsign}) f
        on r.FARMCODE=f.FARMCODE inner join (select CANALCODE,CANALNAME,PX from WATER_SITE_B where SYSSIGN=#{showsign}) b on f.CANALCODE=b.CANALCODE
        <where>
            <if test="stnm!= null and stnm!= ''">
                and f.FARMNAME like '%'+#{stnm}+'%'
            </if>
            <if test="canalcode!= null and canalcode!= ''">
                and b.CANALCODE=#{canalcode}
            </if>
            <if test="begintime!= null and begintime!= ''and endtime!= null and endtime!= ''">
                and  READTIME between #{begintime} and  #{endtime}
            </if>
            <if test="arrear==1">
                and (r.AVAILABLE &lt;0 and r.PAYTIME is null)
            </if>
            <if test="arrear==2">
                and (r.AVAILABLE &gt;=0 or r.PAYTIME is not null)
            </if>
        </where>
        ) as x where RowId between #{begincount} and #{endcount}
    </select>
    <!--收费通知总记录数-->
    <select id="selectMeterShowInfoByCount" parameterType="com.example.table.pojo.WaterParam" resultType="java.lang.Integer">
        select count(*) from
        (select * from WATER_METER where SYSSIGN=#{showsign}) r inner join (select FARMCODE,FARMNAME,CANALCODE,AREA,CONTACTS,CONPHONE from WATER_FARM_USERS where SYSSIGN=#{showsign}) f
        on r.FARMCODE=f.FARMCODE inner join (select CANALCODE,CANALNAME,PX from WATER_SITE_B where SYSSIGN=#{showsign}) b on f.CANALCODE=b.CANALCODE
        <where>
            <if test="stnm!= null and stnm!= ''">
                and f.FARMNAME like '%'+#{stnm}+'%'
            </if>
            <if test="canalcode!= null and canalcode!= ''">
                and b.CANALCODE=#{canalcode}
            </if>
            <if test="begintime!= null and begintime!= ''and endtime!= null and endtime!= ''">
                and  READTIME between #{begintime} and  #{endtime}
            </if>
            <if test="arrear==1">
                and (r.AVAILABLE &lt;0 and r.PAYTIME is null)
            </if>
            <if test="arrear==2">
                and (r.AVAILABLE &gt;=0 or r.PAYTIME is not null)
            </if>
        </where>
    </select>
    <!--水费购买年度统计分页查询-->
    <select id="selectSumRechargeByPage" parameterType="com.example.table.pojo.WaterParam" resultMap="RechargeShowMap">
        select * from (select f.FARMNAME,f.AREA,b.CANALNAME,r.*,ROW_NUMBER() OVER(Order by ${orderBy} ${sequence}) AS RowId from
        (select FARMCODE,SUM(AMOUNT) as AMOUNT,SUM(BUYWATER) as BUYWATER,SUM(BASEWATER) as BASEWATER,SUM(BUYFIRST) as BUYFIRST,SUM(BUYSECOND) as BUYSECOND,SUM(BUYTHIRD) as BUYTHIRD from WATER_RECHARGE where SYSSIGN=#{showsign} and DATEPART(year,CREATETIME)=#{year} group by FARMCODE ) r inner join (select FARMCODE,FARMNAME,CANALCODE,AREA from WATER_FARM_USERS where SYSSIGN=#{showsign}) f
        on r.FARMCODE=f.FARMCODE inner join (select CANALCODE,CANALNAME,PX from WATER_SITE_B where SYSSIGN=#{showsign}) b on f.CANALCODE=b.CANALCODE
        <where>
            <if test="stnm!= null and stnm!= ''">
                and f.FARMNAME like '%'+#{stnm}+'%'
            </if>
            <if test="canalcode!= null and canalcode!= ''">
                and b.CANALCODE=#{canalcode}
            </if>
        </where>
        ) as x where RowId between #{begincount} and #{endcount}
    </select>
    <!--水费购买年度统计总记录数-->
    <select id="selectSumRechargeByCount" parameterType="com.example.table.pojo.WaterParam" resultType="java.lang.Integer">
        select count(*) from
        (select FARMCODE,SUM(AMOUNT) as AMOUNT,SUM(BUYWATER) as BUYWATER,SUM(BASEWATER) as BASEWATER,SUM(BUYFIRST) as BUYFIRST,SUM(BUYSECOND) as BUYSECOND,SUM(BUYTHIRD) as BUYTHIRD from WATER_RECHARGE where SYSSIGN=#{showsign} and DATEPART(year,CREATETIME)=#{year} group by FARMCODE ) r inner join (select FARMCODE,FARMNAME,CANALCODE,AREA from WATER_FARM_USERS where SYSSIGN=#{showsign}) f
        on r.FARMCODE=f.FARMCODE inner join (select CANALCODE,CANALNAME,PX from WATER_SITE_B where SYSSIGN=#{showsign}) b on f.CANALCODE=b.CANALCODE
        <where>
            <if test="stnm!= null and stnm!= ''">
                and f.FARMNAME like '%'+#{stnm}+'%'
            </if>
            <if test="canalcode!= null and canalcode!= ''">
                and b.CANALCODE=#{canalcode}
            </if>
        </where>
    </select>
</mapper>
